In [4]:
import os
import requests
import pandas as pd
import numpy as np
from MCForecastTools import MCSimulation
import alpaca_trade_api as tradeapi_a
import yfinance as yf
from dotenv import load_dotenv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [63]:
prices.head()

            AMC       AMD  BABA  BB  BBBY  GME  MVIS  NVDA  SPY  TSLA
Date
1980-03-17  NaN  3.145833   NaN NaN   NaN  NaN   NaN   NaN  NaN   NaN
1980-03-18  NaN  3.031250   NaN NaN   NaN  NaN   NaN   NaN  NaN   NaN
1980-03-19  NaN  3.041667   NaN NaN   NaN  NaN   NaN   NaN  NaN   NaN
1980-03-20  NaN  3.010417   NaN NaN   NaN  NaN   NaN   NaN  NaN   NaN
1980-03-21  NaN  2.916667   NaN NaN   NaN  NaN   NaN   NaN  NaN   NaN

In [64]:
price = prices[prices.index >= "2017-08-01"]

In [65]:
price.to_csv("stock_prices.csv")

In [66]:
price.isnull().sum()

AMC     0
AMD     0
BABA    0
BB      0
BBBY    0
GME     0
MVIS    0
NVDA    0
SPY     0
TSLA    0
dtype: int64

In [69]:
price.head()

,AMC,AMD,BABA,BB,BBBY,GME,MVIS,NVDA,SPY,TSLA
Date,,,,,,,,,,
2017-08-01,16.469416,13.71,154.729996,9.51,26.660824,17.939491,2.25,162.812164,230.738785,63.914001
2017-08-02,12.035346,13.37,151.910004,9.50,26.421677,17.956287,2.31,162.713196,230.850769,65.178001
2017-08-03,11.956165,13.24,153.320007,9.42,27.050552,18.191450,2.45,164.781860,230.402954,69.417999
2017-08-04,12.866735,13.12,153.330002,9.44,26.660824,18.418217,2.47,165.504440,230.822754,71.382004
2017-08-07,12.747964,13.43,158.839996,9.10,27.139126,18.619781,2.52,170.591980,231.251907,71.033997

In [70]:
price.tail()

,AMC,AMD,BABA,BB,BBBY,GME,MVIS,NVDA,SPY,TSLA
Date,,,,,,,,,,
2021-05-19,12.64,76.230003,212.539993,8.54,24.650000,168.830002,13.98,562.630005,410.859985,563.460022
2021-05-20,12.55,78.059998,216.990005,8.78,23.690001,170.490005,14.34,584.500000,415.279999,586.780029
2021-05-21,12.08,77.169998,211.059998,8.52,24.150000,176.789993,13.87,599.669983,414.940002,580.880005
2021-05-24,13.68,77.440002,210.440002,8.62,23.750000,180.009995,14.33,624.479980,419.170013,606.440002
2021-05-25,16.41,77.860001,211.130005,8.59,23.740000,209.429993,15.63,625.909973,418.239990,604.690002

In [73]:
##ALPACA_API_KEY="PKA925ED9E6KT7TIXAVH"
##LPACA_SECRET_KEY="1yjb0yWmVKFhbtMKkaM1XWZ6UQjcEPfpF3swc27o"
#alpaca = tradeapi_a.REST(
#    ALPACA_API_KEY,
#    ALPACA_SECRET_KEY,
#    api_version="v2")

In [82]:
tickers = ["SPY", "GME", "AMC", "TSLA", "BB", "NVDA", "BBBY", "MVIS", "BABA", "AMD"]
# Set timeframe to '1D'
timeframe = "1D"

start_date = pd.Timestamp("2017-08-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-05-20", tz="America/New_York").isoformat()

prices_stock= alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=10
).df
print(prices_stock)

HTTPError: 403 Client Error: Forbidden for url: https://data.alpaca.markets/v1/bars/1D?symbols=SPY%2CGME%2CAMC%2CTSLA%2CBB%2CNVDA%2CBBBY%2CMVIS%2CBABA%2CAMD&limit=10&start=2017-08-01T00%3A00%3A00-04%3A00&end=2021-05-20T00%3A00%3A00-04%3A00

In [79]:
MC_threeyear_price = MCSimulation(
    portfolio_data=price,
    weights = [1],
    num_simulation = 100,
    num_trading_days = 252*4
)

IndexError: Too many levels: Index has only 1 level, not 2

In [80]:
price.head()

,AMC,AMD,BABA,BB,BBBY,GME,MVIS,NVDA,SPY,TSLA
Date,,,,,,,,,,
2017-08-01,16.469416,13.71,154.729996,9.51,26.660824,17.939491,2.25,162.812164,230.738785,63.914001
2017-08-02,12.035346,13.37,151.910004,9.50,26.421677,17.956287,2.31,162.713196,230.850769,65.178001
2017-08-03,11.956165,13.24,153.320007,9.42,27.050552,18.191450,2.45,164.781860,230.402954,69.417999
2017-08-04,12.866735,13.12,153.330002,9.44,26.660824,18.418217,2.47,165.504440,230.822754,71.382004
2017-08-07,12.747964,13.43,158.839996,9.10,27.139126,18.619781,2.52,170.591980,231.251907,71.033997